//base
@import "../scss/base/reset";
@import "../scss/base/vars";
@import "../scss/base/utils";

//components
@import "../scss/components/navbar";
@import "../scss/components/navbar";

//layouts
@import "../scss/layouts/index";
@import "../scss/layouts/mediaqueries";

@mixin hero {
  width: 100vw;
  border-bottom: 10px solid $mainColor;
}

// navigation
.sub-navbar-brand {
  display: none;
}
nav ul {
  align-items: center;
  .nav-item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-link {
    padding: 4px;
  }
  .nav-item:hover .nav-link {
    background-color: $secondColor;
    color: $lightColor;
  }
  .dropdown-menu {
    border: none;
    li a {
      font-weight: bold;
    }
    li:hover a {
      background-color: $secondColor;
      color: $lightColor;
    }
  }
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  &:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  &:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
}
.container-fluid div {
  justify-content: end;
}

// main
main {
  min-height: 100vh;
  max-height: 100%;
  background-image: url(../assets/img/fondogradient.png);
  background-size: cover;
  background-attachment: fixed;
}

// hero 1
.hero {
  background-image: none;
}
.escudo {
  width: 100%;
  display: none;
}

.hero h1 {
  font-family: garamond;
  text-transform: uppercase;
  font-size: 70px;
  color: rgb(45, 45, 86);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px 20px 0 20px;
  font-weight: bold;
  display: none;
  margin: 0 auto;
}

.hero h2 {
  font-family: garamond;
  font-style: italic;
  font-size: 50px;
  padding: 10px 10px 100px 10px;
  color: rgb(128, 191, 228);
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  display: none;
  margin: 0 auto;
}

// hero 2
.hero_main {
  width: 100%;
  height: 100%;
  background-color: $lightColor;
  h3 {
    display: none;
  }
  &_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-bottom: 20px solid $mainColor;
  }
  h4 {
    text-transform: uppercase;
    padding: 10px 0 0 20px;
    margin: 5px auto;
  }
  .hero_subtitle {
    padding: 0 30px;
    margin: 0 auto;
    span {
      font-weight: bold;
    }
  }
  .hero_p {
    padding: 0 30px;
    text-align: justify;
    margin: 5px auto;
  }
  div {
    display: flex;
    justify-content: end;
    padding: 10px 20px 10px 0;
  }
  .hero_button {
    display: inline-block;
    justify-content: end;
    margin-bottom: 5px;
  }
}

// fixture slider
.fixture_slider {
  padding: 40px 20px;
  max-width: 560px;
  margin: 0 auto;
  h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(
      to right,
      #ffffff01,
      #ffffff11,
      #ffffff33,
      #ffffff81,
      #ffffff90,
      #ffffff81,
      #ffffff33,
      #ffffff11,
      #ffffff01
    );
  }
}
.carousel {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

// noticias

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0 auto;
  width: 100%;
  .card_container {
    background-color: $lightColor;
    width: 85%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    margin: 20px;
    .card_news {
      img {
        width: 100%;
        height: auto;
      }
      div {
        padding: 25px;
        h4 {
          text-transform: uppercase;
          font-size: 25px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          padding-top: 10px;
          color: $backgroundColor;
        }
        a {
          display: inline-block;
          padding: 5px 50px;
          margin: 20px auto 20px auto;
        }
      }
    }
  }
}

// galeria
.galery {
  margin-top: 100px;
  border-bottom: 20px solid $mainColor;
  .img_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding-bottom: 100px;

    img {
      width: 100%;
    }
  }
}

// fomrulario
.form {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  color: black;
  border-bottom: 20px solid $mainColor;
  padding-bottom: 50px;
  img {
    width: 100%;
  }
  form {
    padding: 0 10px;
  }
}
.form_title {
  text-align: center;
  font-size: 27px;
  padding-top: 30px;
}
.input {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  resize: none;
}
.data4:required {
  border: 1px dashed red;
}
.term {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.submit {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form p {
  font-size: 12px;
  color: $lightColor;
  text-align: justify;
  padding: 20px;
}

// sponsors
.sponsors {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 50px 0;
  margin: 0 auto;
  background-color: $lightColor;
  border-bottom: 20px solid $mainColor;
}
.sponsors_title {
  width: 100%;
  margin: 0 auto;
}
.sponsors_title h3 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  border-bottom: none;
  margin: 0 auto;
}
.sponsors_content {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 35px 0 35px;
}
.img_sponsor {
  display: inline-block;
  width: 100px;
  border-radius: 60px;
  padding: 6px 12px;
}

// footer
footer {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../assets/img/fondogradient.png);
  background-size: cover;
  background-attachment: fixed;
}
.footer_logo {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer_list {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.footerList1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.footer_link a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.footer_link a:hover {
  color: $lightColor;
  transition: 0.2s;
  text-shadow: 5px 5px 15px $darkColor;
}
.datos {
  width: 100%;
  color: rgb(200, 200, 200);
  font-size: 15px;
  text-align: center;
  padding: 30px 10px;
  p {
    margin: 0 auto;
  }
}
.newslatter_div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 40px;
}
.newslatter_div h5 {
  color: rgb(200, 200, 200);
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0 auto;
}
.input-group {
  padding: 0 15px;
}
.email {
  display: block;
  color: rgb(200, 200, 200);
  font-size: 15px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 10px;
}
.media_icon {
  width: 30px;
}

// socios

.container_socios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  .card_socios {
    background-color: $grayColor;
    width: 85%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    margin: 20px;
    img {
      width: 100%;
      height: auto;
    }
    div {
      padding: 25px;
      h4 {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 8px;
      }
      p {
        font-size: 15px;
        padding-top: 10px;
        color: $backgroundColor;
      }
    }
  }
}
.aside_socios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  width: 80%;
  gap: 20px;
  .comision_title {
    min-width: 300px;
    max-width: 100%;
    background-color: $lightColor;
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  }
  .card {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-width: 100%;
  }
  img {
    height: 200px;
    object-fit: scale-down;
  }
  h4 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
  }
  .span_nombre {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #3ec2ff;
    font-weight: bold;
  }
  .span_puesto {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #32317e;
    font-weight: bold;
  }
  .span_nro {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #32317e;
  }
}

// basquet.html

.hero_basquet img {
  width: 100%;
}

.hero_basquet {
  width: 100%;
  display: none;
}

.main_container {
  background-image: url(../assets/img/fondogradient.png);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  border-bottom: 20px solid $mainColor;
}

.basquet_news {
  width: 100%;
  height: 100%;
  background-color: $lightColor;
  &_img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-bottom: 20px solid $mainColor;
  }
  h3 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 0 20px;
    margin: 5px auto;
  }
  &_subtitle {
    font-size: 20px;
    padding: 0 30px;
    margin: 0 auto;
    span {
      font-weight: bold;
    }
  }
  &_p {
    font-size: 16px;
    padding: 30px 30px 70px 30px;
    text-align: justify;
    margin: 5px auto;
  }
}

.container_basquet {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
  padding: 100px 0;
}

.section_basquet {
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.section_basquet p {
  font-size: 16px;
  padding: 16px;
  margin: 0;
  background-color: #424242;
  color: rgb(200, 200, 200);
  text-align: center;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.slider_basquet {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 25px;
  padding: 0px;
  margin-bottom: 100px;
}

.slider_basquet img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  transition: all 400ms;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.slider_basquet img:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: -1;
}

.slider_basquet img:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: -2;
}

.slider_basquet img:hover {
  transform: scale(1);
}

.article_horario_basquet {
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0;
  margin-bottom: 20px;
}

.article_horario_basquet h2 {
  font-size: 30px;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(200, 200, 200);
  background-color: #424242;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.horario {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 20px;
  padding: 0;
}

.horario article {
  background-color: #424242;
  height: 100%;
  padding: 5px;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.horario article p {
  font-size: 16px;
  color: rgb(200, 200, 200);
  text-align: center;
  margin: 0;
  padding: 20px;
}

.horario article p span {
  color: #3ec2ff;
  font-weight: bold;
}

.horario article:hover p span {
  text-shadow: 0 0 10px #3ec2ff;
}

// // // mediaqueries
@media (min-width: 680px) {
  .section_basquet p {
    font-size: 18px;
    padding: 16px;
  }
  .slider_basquet {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: -2;
  }
  .slider_basquet img:hover {
    transform: scale(1);
  }
  .article_horario_basquet h2 {
    font-size: 30px;
  }
  .horario article p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .escudo {
    display: block;
    width: 100%;
  }
  .hero h1 {
    display: block;
  }
  .hero h2 {
    display: block;
  }
  .hero_main {
    width: 80%;
    margin: 100px auto 100px auto;
    border-radius: 25px;
    h3 {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      border-bottom: none;
      margin: 0 auto;
      padding: 20px 0;
    }
    &_img {
      width: 100%;
      height: 650px;
    }
  }
  .navbar-brand {
    display: none;
  }
  .sub-navbar-brand {
    display: inline;
    img {
      height: 70px;
    }
  }
  .navbar {
    margin-left: 50px;
    margin-right: 50px;
  }
  .news .card_container {
    width: 40%;
  }
  .galery {
    border-bottom: none;
  }
  .img_formulario {
    width: 80%;
    margin: 20px auto;
    img {
      border-radius: 25px;
      box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .form form {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    .input {
      box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    }
    .term {
      padding-top: 20px;
      margin: 0 auto;
    }
  }
  .form p {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .galery .img_content {
    gap: 6px;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 120px;
  }

  .main_container {
    padding-top: 100px;
  }
  .basquet_news {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: $lightColor;
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    &_img {
      height: 550px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
}

@media (min-width: 792px) {
  .aside_socios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .comision_title {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

@media (min-width: 1024px) {
  .galery .img_content {
    gap: 10px;
  }
  .img_formulario {
    width: 60%;
  }
  .form form {
    width: 60%;
  }
  .form p {
    width: 60%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 130px;
  }
  .container_basquet {
    gap: 10px;
    margin: 100px auto;
  }
  .section_basquet {
    padding: 5px;
  }
  .section_basquet p {
    font-size: 20px;
    padding: 20px;
  }
  .slider_basquet {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: -1;
  }
  .slider_basquet img:hover {
    transform: scale(1.1);
  }
  .basquet_news {
    &_img {
      height: 600px;
    }
  }
  .main_socios {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 80%;
    margin: 0 auto;
    .container_socios {
      .card_socios {
        margin-top: 0;
      }
    }
  }
  .aside_socios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    gap: 20px;
  }
}

@media (min-width: 1290px) {
  .hero_main {
    width: 75%;
  }
  .img_formulario {
    width: 40%;
  }
  .form form {
    width: 40%;
  }
  .form p {
    width: 40%;
  }
  .news .card_container {
    width: 30%;
  }
  .news :nth-child(9) {
    display: inline;
  }
  .img_sponsor {
    width: 140px;
  }
  .basquet_news {
    width: 75%;
  }
  .main_socios {
    grid-template-columns: 70% 30%;
  }
}

@media (min-width: 1400px) {
  .container_basquet {
    padding: 0;
  }
  .slider_basquet {
    grid-template-columns: repeat(5, 1fr);
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

@media (min-width: 1660px) {
  .hero_main {
    width: 70%;
    &_img {
      width: 100%;
      height: 800px;
    }
    h4 {
      font-size: 40px;
    }
    .hero_subtitle {
      font-size: 25px;
    }
    .hero_p {
      font-size: 20px;
    }
    div {
      padding: 20px 40px 20px 0;
    }
    .hero_button {
      margin-bottom: 10px;
      padding: 10px 40px;
      font-size: 20px;
    }
  }
  .news .card_container {
    width: 20%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 150px;
  }
  .main_socios {
    grid-template-columns: 75% 25%;
  }
}
