$mainColor: #2d2d56;
$secondColor: #80bfe4;
$thirdColor: #3ec2ff;
$backgroundColor: #303030;
$lightColor: #ffffff;
$darkColor: #000000;

$mainFont: tahoma;
$titleFont: garamond;

$main-font-size: 25px;

$p-1: 70px;
$p-2: 50px;
$p-3: 40px;
$p-4: 30px;
$p-5: 20px;
$p-6: 14px;
