.hero_hockey img {
  width: 100%;
}
.hero_hockey {
  width: 100%;
  display: none;
}
.description_hockey {
  width: 80%;
  background-color: $lightColor;
  @include border;
  font-size: 16px;
  padding: 15px;
  margin: 0 auto;
  p {
    text-align: justify;
  }
}
.slider_hockey {
  width: 80%;
  margin: 50px auto;
  img {
    width: 100%;
    @include border;
    margin: 10px 0;
  }
}
.article_horario_hockey {
  background-color: $lightColor;
  @include border;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto 50px auto;
  padding: 10px;
  div h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: $mainColor;
  }
  p {
    font-size: 14px;
  }
  p span {
    font-weight: bold;
  }
}
.video_hockey {
  width: 80%;
  height: 100%;
  background-color: $lightColor;
  @include border;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  h3 {
    text-transform: uppercase;
  }
  .youtube_hockey {
    width: 90%;
    min-height: 300px;
    max-height: 700px;
    margin: 0 auto;
    padding: 20px;
  }
}
