// hero 1
.escudo {
  width: 100%;
  display: none;
}
.hero {
  h1 {
    font-family: garamond;
    text-transform: uppercase;
    font-size: 70px;
    color: $mainColor;
    background-color: $lightColor;
    text-align: center;
    padding: 100px 20px 0 20px;
    font-weight: bold;
    display: none;
    margin: 0 auto;
  }
  h2 {
    font-family: garamond;
    font-style: italic;
    font-size: 50px;
    padding: 10px 10px 100px 10px;
    color: $secondColor;
    background-color: $lightColor;
    text-align: center;
    font-weight: bold;
    display: none;
    margin: 0 auto;
  }
}

// hero 2
.hero_main {
  width: 100%;
  height: 100%;
  background-color: $lightColor;
  h3 {
    display: none;
  }
  &_img {
    @include img(100%, 500px);
    border-bottom: 20px solid $mainColor;
  }
  h4 {
    text-transform: uppercase;
    padding: 10px 0 0 20px;
    margin: 5px auto;
  }
  .hero_subtitle {
    padding: 0 30px;
    margin: 0 auto;
    span {
      font-weight: bold;
    }
  }
  .hero_p {
    padding: 0 30px;
    text-align: justify;
    margin: 5px auto;
  }
  div {
    display: flex;
    justify-content: end;
    padding: 10px 20px 10px 0;
  }
  .hero_button {
    display: inline-block;
    justify-content: end;
    margin-bottom: 5px;
  }
}

// fixed button
.fixed_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 4rem;
  width: 4rem;
  z-index: 9;
  @include border;
  img {
    @include img(100%, 100%);
    opacity: 0.7;
  }
  &:hover {
    transition: 0.2s;
    background-color: $lightColor;
    opacity: 0.8;
  }
}

// fixture slider
.fixture_slider {
  padding: 40px 20px;
  max-width: 560px;
  margin: 0 auto;
  h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(
      to right,
      #ffffff01,
      #ffffff11,
      #ffffff33,
      #ffffff81,
      #ffffff90,
      #ffffff81,
      #ffffff33,
      #ffffff11,
      #ffffff01
    );
  }
}
.carousel {
  @include border;
}

// noticias

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0 auto;
  width: 100%;
  .card_container {
    background-color: $lightColor;
    width: 85%;
    overflow: hidden;
    margin: 20px;
    @include border;
    .card_news {
      img {
        @include img(100%, auto);
      }
      div {
        padding: 25px;
        h4 {
          text-transform: uppercase;
          font-size: 25px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          padding-top: 10px;
          color: $backgroundColor;
        }
        a {
          display: inline-block;
          padding: 5px 50px;
          margin: 20px auto 20px auto;
        }
      }
    }
  }
}

// galeria
.galery {
  margin-top: 100px;
  border-bottom: 20px solid $mainColor;
  .img_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding-bottom: 100px;
    img {
      @include img(100%, 100%);
    }
  }
}

// fomrulario
.form {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  color: black;
  border-bottom: 20px solid $mainColor;
  padding-bottom: 50px;
  img {
    @include img(100%, 100%);
  }
  form {
    padding: 0 10px;
    .form_title {
      text-align: center;
      font-size: 27px;
      padding-top: 30px;
    }
    .input {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      margin-bottom: 0px;
      border-radius: 10px;
      border: none;
      font-size: 14px;
      resize: none;
    }
    .term {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .data4:required {
        border: 1px dashed red;
      }
      label {
        color: $lightColor;
      }
      .submit {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
  p {
    font-size: 12px;
    color: $lightColor;
    text-align: justify;
    padding: 20px;
  }
}

// sponsors
.sponsors {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 50px 0;
  margin: 0 auto;
  background-color: $lightColor;
  border-bottom: 20px solid $mainColor;
  .sponsors_title {
    width: 100%;
    margin: 0 auto;
    h3 {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center;
      border-bottom: none;
      margin: 0 auto;
    }
  }
  .sponsors_content {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 35px 0 35px;
    .img_sponsor {
      display: inline-block;
      width: 120px;
      border-radius: 60px;
      padding: 6px 12px;
    }
  }
}
