@media (min-width: 680px) {
  .section_basquet p {
    font-size: 18px;
    padding: 16px;
  }
  .slider_basquet {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: -2;
  }
  .slider_basquet img:hover {
    transform: scale(1);
  }
  .article_horario_basquet h2 {
    font-size: 30px;
  }
  .horario article p {
    font-size: 16px;
  }
  .container_players {
    img {
      max-width: 300px;
    }
  }
  .video_rugby .youtube_rugby {
    min-height: 400px;
    max-height: 800px;
  }
  .video_hockey .youtube_hockey {
    min-height: 400px;
    max-height: 800px;
  }
}

@media (min-width: 768px) {
  .escudo {
    display: block;
    width: 100%;
  }
  .hero h1 {
    display: block;
  }
  .hero h2 {
    display: block;
  }
  .hero_main {
    width: 80%;
    margin: 100px auto 100px auto;
    border-radius: 25px;
    h3 {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      border-bottom: none;
      margin: 0 auto;
      padding: 20px 0;
    }
    &_img {
      width: 100%;
      height: 650px;
    }
  }
  .navbar-brand {
    display: none;
  }
  .sub-navbar-brand {
    display: inline;
    img {
      height: 70px;
    }
  }
  .navbar {
    margin-left: 50px;
    margin-right: 50px;
  }
  .news .card_container {
    width: 40%;
  }
  .galery {
    border-bottom: none;
  }
  .img_formulario {
    width: 80%;
    margin: 20px auto;
    img {
      @include border;
    }
  }
  .form form {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    .input {
      @include border;
    }
    .term {
      padding-top: 20px;
      margin: 0 auto;
    }
  }
  .form p {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .galery .img_content {
    gap: 6px;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 120px;
  }

  .basquet_news {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: $lightColor;
    @include border;
    &_img {
      height: 550px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
  .hero_softbol {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }

  .container_softbol {
    .container_players {
      img {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .hero_basquet {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }
  .hero_rugby {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }
  .hero_hockey {
    width: 100%;
    display: block;
  }
  .hero_historia {
    width: 100%;
    display: block;
  }
  .frame_historia {
    height: 800px;
    .lanueva {
      height: 100%;
    }
  }
  .slider_rugby {
    width: 80%;
    text-align: center;
    img {
      display: inline-block;
      width: 270px;
      height: 350px;
      object-fit: cover;
      margin: 10px;
    }
  }
  .video_rugby .youtube_rugby {
    min-height: 500px;
    max-height: 800px;
  }
  .slider_hockey {
    text-align: center;
    img {
      display: inline-block;
      width: 270px;
      height: 350px;
      object-fit: cover;
      margin: 10px;
    }
  }
  .video_hockey .youtube_hockey {
    min-height: 500px;
    max-height: 800px;
  }
  .fixed_softbol {
    visibility: visible;
  }
  .fixed_basquet {
    visibility: visible;
  }
  .fixed_hockey {
    visibility: visible;
  }
  .fixed_rugby {
    visibility: visible;
  }
}

@media (min-width: 792px) {
  .aside_socios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .comision_title {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

@media (min-width: 1024px) {
  .galery .img_content {
    gap: 10px;
  }
  .img_formulario {
    width: 60%;
  }
  .form form {
    width: 60%;
  }
  .form p {
    width: 60%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 130px;
  }
  .container_basquet {
    gap: 10px;
  }
  .section_basquet {
    padding: 5px;
  }
  .section_basquet p {
    font-size: 20px;
    padding: 20px;
  }
  .slider_basquet {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: -1;
  }
  .slider_basquet img:hover {
    transform: scale(1.1);
  }
  .basquet_news {
    &_img {
      height: 600px;
    }
  }
  .main_socios {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 80%;
    margin: 0 auto;
    .container_socios {
      .card_socios {
        margin-top: 0;
      }
    }
  }
  .aside_socios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    gap: 20px;
  }
  .card:hover .span_nombre {
    font-size: 22px;
    text-shadow: 2px 4px 5px $thirdColor;
    transition: 0.3s;
  }
  .video_rugby .youtube_rugby {
    min-height: 600px;
    max-height: 900px;
  }
  .video_hockey .youtube_hockey {
    min-height: 600px;
    max-height: 900px;
  }
  .carousel_rugby {
    width: 70%;
  }
  .description_rugby p {
    font-size: 20px;
    padding: 10px;
  }
  .description_hockey p {
    font-size: 20px;
    padding: 10px;
  }
  .description_softbol p {
    font-size: 20px;
    padding: 10px;
  }
}

@media (min-width: 1290px) {
  .hero_main {
    width: 75%;
  }
  .img_formulario {
    width: 40%;
  }
  .form form {
    width: 40%;
  }
  .form p {
    width: 40%;
  }
  .news .card_container {
    width: 30%;
  }
  .news :nth-child(9) {
    display: inline;
  }
  .img_sponsor {
    width: 140px;
  }
  .basquet_news {
    width: 75%;
  }
  .container_basquet {
    width: 75%;
  }
  .basquet_news {
    &_img {
      height: 700px;
    }
    &_p {
      font-size: 18px;
    }
  }
  .main_socios {
    grid-template-columns: 70% 30%;
  }
  .sec_historia {
    width: 100%;
    display: grid;
    grid-template-columns: 68% 30%;
    grid-template-rows: auto;
    gap: 15px;
    margin-bottom: 50px;
    .cont_par_1 {
      p {
        column-count: 2;
        font-size: 20px;
      }
    }
    .cont_i_1 {
      margin-top: 0;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .cont_i_2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-top: 0;
      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
      }
    }
    .cont_par_1 {
      margin-top: 0;
      .p3 {
        margin-bottom: 0;
      }
    }
    .cont_par_2 {
      grid-column-start: 2;
      grid-column-end: -1;
      margin-top: 0;
      p {
        font-size: 17px;
      }
    }
    .cont_par_3 {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-top: 0;
      p {
        font-size: 17px;
      }
    }
  }

  .video_rugby .youtube_rugby {
    min-height: 700px;
    max-height: 900px;
  }
  .video_hockey .youtube_hockey {
    min-height: 700px;
    max-height: 900px;
  }
}

@media (min-width: 1400px) {
  .container_basquet {
    padding: 100px 0 0 0;
  }
  .slider_basquet {
    grid-template-columns: repeat(5, 1fr);
  }
  .slider_basquet img:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .slider_basquet img:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .basquet_news {
    &_img {
      height: 750px;
    }
  }
  .frame_historia {
    height: 1000px;
    .lanueva {
      height: 100%;
    }
  }
  .video_rugby .youtube_rugby {
    min-height: 800px;
  }
  .video_hockey .youtube_hockey {
    min-height: 800px;
  }
  .fixed_rugby {
    visibility: visible;
  }
  .sec_historia {
    .cont_par_1 {
      padding: 20px 20px;
      .p1,
      .p2 {
        padding-bottom: 10px;
        font-size: 20px;
      }
      .p3 {
        font-size: 20px;
      }
    }
    .cont_i_2 {
      img {
        max-height: 600px;
      }
    }
    .cont_par_2 {
      p {
        padding: 10px 10px;
        font-size: 20px;
      }
    }
    .cont_par_3 {
      p {
        padding: 10px 10px;
        font-size: 20px;
      }
    }
  }
  .carousel_rugby {
    width: 60%;
  }
}

@media (min-width: 1660px) {
  .hero_main {
    width: 70%;
    &_img {
      width: 100%;
      height: 800px;
    }
    h4 {
      font-size: 40px;
    }
    .hero_subtitle {
      font-size: 25px;
    }
    .hero_p {
      font-size: 20px;
    }
    div {
      padding: 20px 40px 20px 0;
    }
    .hero_button {
      margin-bottom: 10px;
      padding: 10px 40px;
      font-size: 20px;
    }
  }
  .news .card_container {
    width: 20%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 150px;
  }
  .slider_hockey {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    img {
      margin: 0;
    }
  }
  .img_sliderHockey {
    margin: 0;
  }
  .cont_par_3 {
    padding: 20px 15px;
  }
  .basquet_news {
    &_img {
      height: 800px;
    }
  }
  .carousel_rugby {
    width: 60%;
  }
  .sec_historia {
    .cont_par_1 {
      p {
        padding: 30px;
      }
    }
    .cont_par_2 {
      p {
        padding: 30px;
      }
    }
  }
}
