@media (min-width: 768px) {
  .escudo {
    display: block;
    width: 100%;
  }
  .hero h1 {
    display: block;
  }
  .hero h2 {
    display: block;
  }
  .hero_main {
    width: 80%;
    margin: 100px auto 100px auto;
    border-radius: 25px;
    h3 {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      border-bottom: none;
      margin: 0 auto;
      padding: 20px 0;
    }
    &_img {
      width: 100%;
      height: 650px;
    }
  }
  .navbar-brand {
    display: none;
  }
  .sub-navbar-brand {
    display: inline;
    img {
      height: 70px;
    }
  }
  .navbar {
    margin-left: 50px;
    margin-right: 50px;
  }
  .news .card_container {
    width: 40%;
  }
  .galery {
    border-bottom: none;
  }
  .img_formulario {
    width: 80%;
    margin: 20px auto;
    img {
      border-radius: 25px;
      box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .form form {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    .input {
      box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    }
    .term {
      padding-top: 20px;
      margin: 0 auto;
    }
  }
  .form p {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .galery .img_content {
    gap: 6px;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .galery .img_content {
    gap: 10px;
  }
  .img_formulario {
    width: 60%;
  }
  .form form {
    width: 60%;
  }
  .form p {
    width: 60%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 130px;
  }
}

@media (min-width: 1290px) {
  .img_formulario {
    width: 40%;
  }
  .form form {
    width: 40%;
  }
  .form p {
    width: 40%;
  }
  .news .card_container {
    width: 30%;
  }
  .news :nth-child(9) {
    display: inline;
  }
  .img_sponsor {
    width: 140px;
  }
}

@media (min-width: 1660px) {
  .hero_main {
    width: 80%;
    &_img {
      width: 100%;
      height: 800px;
    }
    h4 {
      font-size: 40px;
    }
    .hero_subtitle {
      font-size: 25px;
    }
    .hero_p {
      font-size: 20px;
    }
    div {
      padding: 20px 40px 20px 0;
    }
    .hero_button {
      margin-bottom: 10px;
      padding: 10px 40px;
      font-size: 20px;
    }
  }
  .news .card_container {
    width: 20%;
  }
  .news :nth-child(9) {
    display: none;
  }
  .img_sponsor {
    width: 150px;
  }
}
