// novedades socios
.container_socios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 100%;
  .card_socios {
    background-color: $grayColor;
    width: 85%;
    overflow: hidden;
    @include border;
    margin: 20px;
    img {
      @include img(100%, auto);
    }
    div {
      padding: 25px;
      h4 {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 8px;
      }
      p {
        font-size: 15px;
        padding-top: 10px;
        color: $backgroundColor;
      }
    }
  }
}

// comisión directiva
.aside_socios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  width: 80%;
  gap: 20px;
  .comision_title {
    min-width: 300px;
    max-width: 100%;
    background-color: $lightColor;
    @include border;
  }
  .card {
    @include border;
    min-width: 300px;
    max-width: 100%;
  }
  img {
    height: 200px;
    object-fit: scale-down;
  }
  h4 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
  }
  .span_nombre {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #3ec2ff;
    font-weight: bold;
  }
  .span_puesto {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: #32317e;
    font-weight: bold;
  }
  .span_nro {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #32317e;
  }
}
