.hero_rugby img {
  width: 100%;
}
.hero_rugby {
  width: 100%;
  display: none;
}
.description_rugby {
  width: 80%;
  background-color: $lightColor;
  @include border;
  font-size: 16px;
  padding: 15px;
  margin: 0 auto;
  p {
    text-align: justify;
  }
}

// fixed button
.fixed_rugby {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  text-align: end;
  visibility: hidden;
  .fixed_p_r {
    background-color: $lightColor;
    color: $darkColor;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    @include border;
    display: inline-block;
  }
  &_ball {
    @include img(80px, 80px);
    animation-name: giro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    border-radius: 100%;
    &:hover {
      scale: (1.2);
      transition: 0.5s;
    }
  }
}
@keyframes giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider_rugby {
  width: 80%;
  margin: 50px auto;
  img {
    width: 100%;
    @include border;
    margin: 10px 0;
  }
}
.article_horario_rugby {
  background-color: $lightColor;
  @include border;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto 50px auto;
  padding: 10px;
  div h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: $mainColor;
  }
  p {
    font-size: 16px;
  }
  p span {
    font-weight: bold;
  }
}
.video_rugby {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  h3 {
    text-transform: uppercase;
    background-color: $lightColor;
    padding: 20px;
    @include border;
    margin-bottom: 20px;
  }
  .youtube_rugby {
    width: 100%;
    min-height: 300px;
    max-height: 700px;
    object-fit: cover;
    margin: 0 auto;
    @include border;
  }
}
